.choose-us{
    height: 680px;
    padding: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    display: block;
}

.why-choose-us{
    /* flex-direction: column; */
    text-align: center;
    height: 200px;    
    
}
 .why-choose-us h2{
    font-size: 36px;
    margin: 0 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    color: #002347;
 }

  .why-choose-us p{
    font-size: 16px;
    margin: 0 0 16px;
    font-family: Arial, Helvetica, sans-serif;
    color: #7b838a;
 }
 .row {
    width: 1150px;
    display: flex;
    margin: auto;
    gap: 30px;
 }

 .faculty{
    height: 240px;
    width: 350px;
   border-radius: 10px;
   background-color: #f9f9ff;
   padding: 30px;
 }
 .faculty:hover{
    box-shadow: 10px 10px 80px gray;
   background-color: #ededf7;
 }
 

 .faculty h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #002347;
    margin: 16px 0 8px;
 }

.faculty p{
    color: #7b838a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.material{
    height: 240px;
    width: 350px;
    border-radius: 10px;
     /* box-shadow: 1px 1px 5px gray; */
    background-color: #f9f9ff;
    padding: 30px;
}
.material:hover{
    box-shadow: 10px 10px 80px gray;
   background-color: #ededf7;
 }

 .material h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #002347;
    margin: 16px 0 8px;
 }


 .material p{
    color: #7b838a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}

.certificate{
    height: 240px;
    width: 350px;
    border-radius: 10px;
     /* box-shadow: 1px 1px 5px gray; */
     background-color: #f9f9ff;
     padding: 30px;
}
.certificate:hover{
   box-shadow: 10px 10px 80px gray;
   background-color: #ededf7;

}

 .certificate h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #002347;
    margin: 16px 0 8px;
 }

  .certificate p{
    color: #7b838a;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
}
