


.director-heading{
    height: 180px;
    text-align: center;
    width: 100%;
    padding: 130px 0 ;
    margin-bottom: 50px;

}
.director-heading h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 18px 0;
    font-size: 36px;
}

.director-heading p{
    color: #7b838a;
    font-size: 16px;
    
}

.director-detail{
    width: 646px;
    width: 1140px;
    display: flex;
    justify-content: center;
    display: flex;
    margin: auto;
    gap: 30px;
}
.director-1 img{
    height: 216px;
    width: 255px;
}

.director-2 img{
    height: 216px;
    width: 255px;
}

.director-3 img{
    height: 216px;
    width: 255px;
}

.info{
    box-shadow: 0px 0px 30px rgba(153, 153, 153, 0.13);
    width: 255px;
    padding: 20px 25px;
    background-color: white;
}
.info h4{
    font-size: 20px;
    color: #002347;
}
.info p{
    margin: 0 0 16px;
    font-size: 16px;
    color: #7b838a;
}

.info span{
    font-size: 16px;
    color: #7b838a;
}