.events{
    height: 890px;
    background-color: #002347;
    margin-top: 100px;
    padding: 100px;
}

.events-heading{
    height: 150px;
    text-align: center;
    width: 100%;
    
}
.events-heading h2{
    font-family: Arial, Helvetica, sans-serif;
    margin: 10px 0 18px 0;
    font-size: 36px;
    color: white;
}

.events-heading p{
    color: #7b838a;
    font-size: 16px;
}
.events-image{
  justify-content: center;
  align-items: center;
  display: flex;
  gap: 50px;
}

.img-1 {
    height: 400px;
    width: 550px;
}
.img-2{
    height: 400px;
    width: 550px;
    

}

.event-details{
    height: 300px;
    width: 275px;
    padding: 30px 25px;
    position: relative;
    bottom: 404px;
    left: 280px;
    background: rgba(0, 35, 71, 0.5);
    z-index: 1;
    
    display: flex;
    flex-wrap: wrap;
}
.date{
    height: 100px;
    width: 125px;
    /* background-color: white; */
    padding: 0 15px 0 0;

}

.date span{
    font-size: 28px;
    color: #fdc632;
    font-weight: bold;
}

.date p{
    font-size: 16px;
    color: #ffffff;
    font-weight: bold;
}
.time-location{
     height: 100px;
    width: 100px;
    /* background-color: white; */
    padding: 0 0 0 15px;
    border-left: 2px solid bisque;
}
.time-location span{
    color: #ffffff;
    font-size: 14px;
}

.event-para{
    color: #ffffff;
    font-size: 16px;
}

.time-location p{
    color: #fdc632;
    font-size: 13px;
}

