.register{
    background-color: #002347;
    height: 639px;
    padding: 130px 0;
   display: flex;
   justify-content: space-evenly;
}

.register-contant{
    width: 665px;
    height: 370px;
    /* border: 1px solid white; */
   
    
}
.register-heading{
    padding: 0 15px;
}
.register-heading h1{
    font-size: 42px;
    margin: 0 0 16px;
    color: #ffffff;
}

.register-heading p{
    font-size: 16px;
    margin: 0 0 16px;
    color: #ffffff;
}

.register-box{
    display: flex;
}
.box1{
    width: 155px;
    height: 148px;
    margin: 45px 20px 0 0;
    border: 2px solid white;
    border-radius: 10px;
    color: #ffffff;
    background-color: #334f6c;
    padding: 35px 20px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.box1 h1{
    margin: 0 0 8px;
}

.box2{
    width: 155px;
    height: 148px;
    margin: 45px 20px 0 0;
    border: 2px solid white;
    border-radius: 10px;
    color: #ffffff;
    background-color: #334f6c;
    padding: 35px 20px;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.box2 h1{
    margin: 0 0 8px;
}

.box3{
    width: 155px;
    height: 148px;
    margin: 45px 20px 0 0;
    border: 2px solid white;
    border-radius: 10px;
    color: #ffffff;
    background-color: #334f6c;
    padding: 35px 20px;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.box3 h1{
    margin: 0 0 8px;
}


.box4{
    width: 155px;
    height: 148px;
    margin: 45px 0 0 0;
    border: 2px solid white;
    border-radius: 10px;
    color: #ffffff;
    background-color: #334f6c;
    padding: 35px 20px;
     justify-content: center;
    align-items: center;
    flex-direction: column;
    display: flex;
}

.box4 h1{
    margin: 0 0 8px;
}


.register-form{
    height: 370px;
    width: 350px;
    padding: 40px;
    background-color: white;
}

.register-form h3{
    font-size: 20px;
    color: #002347;
    text-align: center;
}

.register-form p{
    font-size: 16px;
    color: #7b838a;
    text-align: center;
    margin: 0 0 16px;
}

.register-form input{
    width: 270px;
    height: 50px;
    padding: 12px;
    border: none;
    border-bottom: 0.4px solid #e2e5e7;
}

.register-form button{
     width: 270px;
    height: 50px;
    background-color: #fdc632;
    margin: 30px 0 0;
    padding: 0 48px;
    border: none;
}