*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.banner{
    justify-content: flex-start;
    display: flex;
    align-items: first baseline;
    height: 392px;
     /* margin: 0 400px; */
     background-image: url(../Assets/banner.jpg);
     background-size: 100%;
     

}
.overlay{
    background: rgba(0, 35, 71, 0.8);
    height: 392px;
    width: 100%;
    padding: 0 400px;
}
.banner-logo img{
    height: 80px;
    width: 250px;
    margin: 20px 0 0 0;
}
.banner-menu{
     height: 80px;
    display: flex;
}
.banner-menu ul{
    text-decoration: none;
    list-style: none;
    flex-direction: row;
    display: flex;
    gap: 45px;
    /* color: rgb(20, 20, 46); */
    margin: 0 0 0 290px;
    font-family: Arial, Helvetica, sans-serif;
    color: #002347;
    font-size: 15px;
    font-weight: bold;
    
}
.banner-menu ul li {
    color: black;
    
}
